@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: rgb(255, 255, 255);
    --light-gray: rgb(214, 226, 240);
    --grayish-blue: rgb(123, 135, 157);
    --dark-blue: rgb(31, 50, 81);
}


body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--grayish-blue);
}

h1 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

#root {
    width: 100%;
    max-width: 1440px;

    padding: 2rem;
    margin: 0 auto;
    isolation: isolate;
}

.qrcode__card {
    max-width: 18.75rem;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 1.2rem;
    margin: 0 auto;
}

.qrcode__image {
    border-radius: 1.2rem;
}

.qrcode__title {
    text-align: center;
    padding: 1rem 0;
}

.qrcode__paragraph {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 0.9375rem;
    color: var(--grayish-blue);
}

.attribution {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    margin: 1rem auto;
    background-color: var(--white);
    border-radius: 0.5rem;
    width: fit-content;
}

.attribution__paragraph {
    font-size: 11px;
    text-align: center;
}

.attribution__link {
    color: rgb(62, 82, 163);
    text-decoration: none;
}